//COLORS
$color-seaBuckthorn: #FB9D24;
$color-gold: #ffd700;
$color-asphalt: #0A0704;
$color-hawaiianTan: #A35D1B;
$color-copperCanyon: #804115;
$color-lightGrey: #f2f2f2;
$color-darkGrey: #444444;
$color-superLightGrey: #fbfcfd;
